# Dependências
node_modules/

# Ambientes e Segredos
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds e Distribuição (Frontend / Vite)
dist/
dist-ssr/
build/
out/

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos locais e configurações de IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporários
.tmp/
temp/

modelo_adicao_openclaude
printia-backend/sessions/
